<div class="container">
  <div class="home">
  <h1>Titulo y texto mira que bien</h1>


  </div>

  <div class="categories">
   <h1>Categorias</h1>
  </div>

<h2>camaras</h2>

<h2>directores</h2>

<h2>sonidistas</h2>

<h2>racor</h2>

<h2>y mucho mas</h2>


</div>
