
<div class="reel-cont">
  <div class="nav-bar d-flex justify-content-between align-items-center py-4">
        <%= link_to root_path do %>
          <span>Filmemos</span>
        <% end %>
    <div class="nav-right d-flex justify-content-between align-items-center">
         <p> List a location</p>
         <p> Sign Up </p>
         <p> Log In</p>
    </div>
  </div>
</div>






