.nav-bar {
  background: white;
  font-size: 16px;
}
#black {
  color: black;
}
.nav-brand i {
  color: red;
}
.nav-brand {
  font-weight: bold;
  font-size: 28px;
}
.nav-brand-small {
  font-weight: bold;
  font-size: 16px;
}
#twenty-four {
  font-weight: lighter;
}

.fa-bell {
  padding: 10px;
}

.dropdown-menu {
  padding: 10px;
}

li.notification {
  margin-bottom: 8px;
}

