.home {
  position: relative;
  height: 80vh;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('https://media.gettyimages.com/photos/studio-setup-2-with-slate-picture-id115638577?s=612x612');
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: center right;
  background-size: 700px 500px;
}
