.home {
  position: relative;
  height: 80vh;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('');
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: center right;
  background-size: 700px 500px;
}
